[submodule "ansible-role-common"]
	path = ansible/roles/common
	url = git@github.com:leoek/ansible-role-common.git

[submodule "ansible-role-docker"]
	path = ansible/roles/docker
	url = git@github.com:leoek/ansible-role-docker.git

[submodule "ansible-role-docker-nginx-proxy"]
	path = ansible/roles/docker-nginx-proxy
	url = git@github.com:leoek/ansible-role-docker-nginx-proxy.git
